{% include 'base.html' %}
{% block title %}
    <title>{{ title }}</title>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h1>Ubah: {{ root.id_person }}</h1>
                {% for message in messages %}
                    {% if message %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% endif %}
                {% endfor %}
                <form action="{% url 'update_root' root.id %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary mb-2">Update Root</button>
                    <a href="/parent" class="btn btn-danger">Cancel</a>
                </form>
            </div>
        </div>
    </div>

{% endblock %}